SoundEffect
  {
    border: none;
    background-color: none;
    color: white;

    padding: 5%;

    min-width: 30px;
    min-height: 30px;
  }

SoundEffect:pressed
  {
    background: rgb(10, 22, 35);
    border-radius: 20px;
  }
