QSplitter::handle
  {
    background-color: rgb(58, 83, 124);
  }

QMainWindow, QDialog
{
  background: rgb(25, 44, 76);
}

QLabel
{
  color: white;
}

QPushButton
{
  background-color: rgb(94, 93, 93);

  padding: 10px;
  color: white;
}

QPushButton:disabled
{
  color: grey;
  background-color: rgb(94, 93, 110);
}

QPushButton:pressed
{
  background-color: rgb(79, 78, 78);
}

QListWidget
{
  background-color:  rgb(58, 83, 124);
  color: white;
}

QProgressBar:horizontal
{
  border: None;
  background: grey;
  padding: 1px;
}

QMenuBar, QStatusBar
{
  background: rgb(200, 200, 200);
}

QScrollArea QWidget
{
  background: rgb(15, 34, 66);
}

QScrollArea QScrollBar
{
  background-color:  rgb(58, 83, 124);
}
