SoundEffect
  {
    border: 5px solid;
    border-radius: 5px;
    /*Foncé*/
    border-bottom-color: rgb(43, 61, 91);
    border-right-color: rgb(43, 61, 91);
    /*Clair*/
    border-left-color: rgb(70, 100, 150);
    border-top-color: rgb(70, 100, 150);

    background-color: rgb(58, 83, 124);
    color: white;

    padding: 5%;

    min-width: 40px;
    min-height: 40px;
  }

SoundEffect:pressed
  {
    background-color: rgb(55, 78, 117);
    /*Foncé*/
    border-top-color: rgb(43, 61, 91);
    border-left-color: rgb(43, 61, 91);
    /*Clair*/
    border-right-color: rgb(70, 100, 150);
    border-bottom-color: rgb(70, 100, 150);
  }
