QPushButton
  {
    background-color: rgb(37, 100, 48);
    color: white;

    padding: 5%;

    min-width: 40px;
    min-height: 40px;
  }

QPushButton:pressed
  {
    background-color: rgb(30, 66, 39);
  }
