QPushButton
  {
    background-color: rgb(180, 180, 180);
    color: black;

    padding: 5%;

    min-width: 40px;
    min-height: 40px;
  }

QPushButton:pressed
  {
    background-color: rgb(173, 173, 173);
  }
