QPushButton
  {
    background-color: rgb(58, 83, 124);
    color: white;

    padding: 5%;

    min-width: 40px;
    min-height: 40px;
  }

QPushButton:pressed
  {
    background-color: rgb(55, 78, 100);
  }
