QPushButton
  {
    background-color: rgb(251, 255, 28);
    color: black;

    padding: 5%;

    min-width: 40px;
    min-height: 40px;
  }

QPushButton:pressed
  {
    background-color: rgb(238, 242, 29);
  }
